[submodule "ui-kit"]
	path = ui-kit
	url = https://github.com/coinmeca/ui-kit
[submodule "wallet-provider"]
	path = wallet-provider
[submodule "wallet-sdk"]
	path = wallet-sdk
	url = https://github.com/coinmeca/wallet-sdk